<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-VhBcF/php0Z/P5ZxlxaEx1GwqTQVIBu4G4giRWxTKOCjTxsPFETUDdVL5B6vYvOt" crossorigin="anonymous" />
        
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://kit.fontawesome.com/88a7d93398.js" crossorigin="anonymous"></script>
    <title>JSnodeJS</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark py-2 navigation">
        <img src="/img/12.png" style="width: 60px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white cool-link" href="#">Products<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white cool-link" href="#">Man</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white cool-link" href="#">
                        Woman
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white cool-link" href="#">Sale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white cool-link" href="#">News</a>
                </li>
            </ul>
            
        </div>
        <div class="navbar-nav justify-content-end d-none d-lg-flex ml-md-auto">
            <a class="nav-item nav-link pt-xl-2" href="#">
              <p class="mb-xl-0 mb-lg-n1 text-black-50">
                <i class="fad fa-user-astronaut fa-2x text-white"></i>
              </p>
            </a>
          </div>
        
    </nav>
</header>

<body>
   
    <div>
        <%- body %>
    </div>

      <!-- Go To -->
    <div>
        <button class="btn btn-outline-dark scrolling">
            <i class="fad fa-chevron-up fa-2x text-danger"></i>
        </button>    
    </div>

    <footer>
        <footer class="bg-dark wappler-block mt-5 pt-3">
            <footer class="wappler-block">
                <div class="container ">
                    <div class="row align-items-top mb-lg-4 pt-lg-4 pb-lg-0">
                        <div class="col-6 col-md text-lg-left text-sm-center text-center col-md-6 col-lg-3 col-xl-2">
                            <h6 class="text-light font-weight-bolder">ABOUT US</h6>
                            <ul class="list-unstyled text-small">
                                <li><a class="text-white cool-link" href="#">News</a></li>
                                <li><a class="text-white cool-link" href="#">Investors</a></li>
                                <li><a class="text-white cool-link" href="#">Sustainability</a></li>
                                <li><a class="text-white cool-link" href="#">Purpose</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md text-center text-black-50 text-lg-left col-md-5 col-lg-3">
                            <h6 class="text-light font-weight-bolder">GIFT CARDS</h6>
                            <ul class="list-unstyled text-small">
                                <li><a class="text-white cool-link" href="#">Gift Cards</a></li>
                                <li><a class="text-white cool-link" href="#">Promotions</a></li>
                                <li><a class="text-white cool-link" href="#">Find a store</a></li>
                                <li><a class="text-white cool-link" href="#">Send us feedback</a></li>

                            </ul>
                        </div>

                        <div class="col-6 col-md text-center text-lg-left col-md-5 col-lg-2 col-xl-3">
                            <h6 class="text-light font-weight-bolder">GET HELP</h6>
                            <ul class="list-unstyled text-small">
                                <li><a class="text-white cool-link" href="#">Order status</a></li>
                                <li><a class="text-white cool-link" href="#">Shopping and Delivery</a></li>
                                <li><a class="text-white cool-link" href="#">Payment Options</a></li>
                                <li><a class="text-white cool-link" href="#">Gift Card Balance</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md text-center text-lg-right col-md-7 col-lg-4">
                            <h6 class="font-weight-bolder text-light">CONTACT</h6>
                            <ul class="list-unstyled text-small">
                                <li>
                                    <p class="text-light">Your Shop Munich<br>
                                        Marienplatz <br>
                                        Munich Str. 77<br>
                                        80777 Munich&nbsp;<br><br>

                                    </p>
                                </li>
                                <li>
                                    <p class="text-light">+49 1573 1111777<br>
                                        webdevelopment@gmail.de
                                    </p>
                                </li>

                            </ul>
                            <div class="row justify-content-end ml-0 d-none d-lg-flex">
                                <div class="col-1"><img src="../img/1200px-Instagram.svg.png" width="25px"></div>
                                <div class="col-1"><img src="../img/1200px-Facebook_circle_pictogram.svg.png"
                                        width="25px"></div>
                                <div class="col-1"><img src="../img/1259px-Twitter_bird_logo_2012.svg.webp"
                                        width="25px"></div>
                                <div class="col-2"><img
                                        src="../img/8d24929b0ebd57e691ea9db331e1c1fa-youtube-play-button-logo-by-vexels.png"
                                        width="28px" class="d-none d-sm-inline"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="container">
                <div class="row">
                    <div class="col mb-lg-4">

                        <div class="row">
                            <div class="col text-light">
                                <span
                                    class="navbar-text p-2 d-none d-sm-block d-md-block small ml-auto text-xl-center text-center">©
                                    2021 Shop | Your Nice Shop Munich</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    
        <script src="/js/shop.js"></script>
        <script src="/js/main.js"></script>
</body>

</html>