<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="img/2.webp" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="img/photo1.webp" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="img/3.webp" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- Contact -->
<div class="contact_hover_sidebar">
    <div class="toggleContact">
        <div class="row ">
            <div class="col-2">
                <span class="ml-2"><i class="fad fa-car fa-lg"></i></span>
            </div>
            <div class="col-8 ml-n3 mt-2 text-white opacity_sidebar">
                <h5 class="font-weight-bold"><a class="text-decoration-none" href="/process">Zulassung</a></h5>
            </div>
        </div>
    </div>
    <div class="toggleContact bg-warning mt-5" style="top: 192px">
        <div class="row ">
            <div class="col-1 text-xl-center">
                <span class="ml-2 pl-1"><i class="fad fa-map-marker-alt fa-lg"></i></span>
            </div>
            <div class="col-8 ml-n3 mt-2 text-white opacity_sidebar">
                <h5 class="font-weight-bold">Standort</h5>
            </div>
        </div>
    </div>
    <div class="toggleContact mt-5 bg-primary" style="top: 232px;">
        <div class="row ">
            <div class="col-2">
                <span class="ml-1 pl-1"><i class="fad fa-envelope fa-lg"></i></span>
            </div>
            <div class="col-10 ml-n5 mt-2 text-white opacity_sidebar">
                <h5 class="font-weight-bold">Email</h5>
            </div>
        </div>
    </div>
    <div class="toggleContact mt-5" style="top: 272px;">
        <div class="row ">
            <div class="col-2">
                <span class="ml-1 pl-1"><i class="fad fa-phone-alt fa-lg"></i></span>
            </div>
            <div class="col-10 mt-2 ml-n1 text-white opacity_sidebar">
                <h5 class="font-weight-bold">+49 89 2154 57574</h5>
            </div>
        </div>
    </div>
    <div class="toggleContact bg-warning mt-5" style="top: 312px;">
        <div class="row ">
            <div class="col-1">
                <span class="ml-1 pl-1"><i class="fad fa-user-headset fa-lg"></i></span>
            </div>
            <div class="col-9 ml-n4 mt-2 text-white opacity_sidebar">
                <h5 class="font-weight-bold">Support</h5>
            </div>
        </div>
    </div>


</div>


<!-- Products -->
<section>
    <div class="row p-4 mr-0">
        <div class="col-2 mt-5">

            <div class="row">
                <div class="col-12">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p class="list-group-item ml-n3 my-n2 cool-link-black">Training and Fitness</p>
                        </li>
                        <li class="list-group-item ">
                            <p class="list-group-item ml-n3 my-n2 cool-link-black">Jordan</p>
                        </li>
                        <li class="list-group-item ">
                            <p class="list-group-item ml-n3 my-n2 cool-link-black">Running</p>
                        </li>
                        <li class="list-group-item ">
                            <p class="list-group-item ml-n3 my-n2 cool-link-black">Football</p>
                        </li>
                        <li class="list-group-item ">
                            <p class="list-group-item ml-n3 my-n2 cool-link-black">Air Max</p>
                        </li>
                    </ul>
                </div>
                <div class="col-12 p-0">
                    <hr class="my-3">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="accordion">
                        <div class="card rounded-0 border-0">
                            <div class="card-header card-header-hover bg-white" id="headingOne">
                                <div class="row" data-toggle="collapse" data-target="#collapseOne">
                                    <div class="col-12 my-n2 col-md-12">
                                        <p id="accordion1_collapseOne_Btn" class="text-black" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <h6> <span class="mr-2"><i class="fad fa-venus-mars fa-x"></i></span> Gender
                                        </h6>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header card-header-hover bg-white" id="headingTwo">
                                <div class="row" data-toggle="collapse" data-target="#collapseTwo">
                                    <div class="col-12 my-n2 col-md-12">
                                        <p id="accordion1_collapseOne_Btn" class="text-black" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <h6> <span class="mr-2"><i class="fad fa-child"></i></span> Children</h6>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header card-header-hover bg-white" id="headingThree">
                                <div class="row" data-toggle="collapse" data-target="#collapseThree">
                                    <div class="col-12 my-n2 col-md-12">
                                        <p id="accordion1_collapseOne_Btn" class="text-black" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <h6> <span class="mr-2"><i class="fad fa-dollar-sign"></i></span> Sort by price
                                        </h6>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="card-body">
                                       <form action="/api/products/price" method="GET" id="checkboxForFilter">
                                        <div class="row big-checkbox-only-for-search">
                                            <div class="col-12 text-left mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input big-checkbox" type="checkbox"
                                                        name="price" id="inp_under_50_price" value="" onclick="if(this.checked) this.form.submit()">
                                                    <label class="form-check-label ml-2" for="inp_under_50_price">
                                                        under 50€
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 text-left mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input big-checkbox" type="checkbox"
                                                        name="50_100_price" id="inp_50_100_price" value=50>
                                                    <label class="form-check-label ml-2"
                                                        for="50_100_price">50€ - 100€</label>
                                                </div>
                                            </div>
                                            <div class="col-12 text-left mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input big-checkbox" type="checkbox"
                                                        name="100_150_price" id="inp_100_150_price" value=100>
                                                    <label class="form-check-label ml-2"
                                                        for="100_150_price">100€ - 150€</label>
                                                </div>
                                            </div>
                                            <div class="col-12 text-left mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input big-checkbox" type="checkbox"
                                                        name="over_150_price" id="inp_over_150_price" value=150>
                                                    <label class="form-check-label ml-2"
                                                        for="over_150_price">over 150€</label>
                                                </div>
                                            </div>
                                        </div>
                                       </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header border-0 card-header-hover bg-white" id="headingFour">
                                <div class="row" data-toggle="collapse" data-target="#collapseFour">
                                    <div class="col-12 my-n2 col-md-12">
                                        <p id="accordion1_collapseOne_Btn" class="text-black" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <h6> <span class="ml-n1 mr-1"><i class="fad fa-badge-percent"></i></span> Im
                                            Sale</h6>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <hr class="my-3">
                </div>
            </div>
            <!--
            <div class="row">
                <form action="/api/products/price" method="GET">
                    <input type="text" name="name">
                    <input type="number" name="phone">
                    <button class="btn" id="getPrice" type="submit"> add me</button>
                </form>
            </div>
           -->
            <div class="toggleAnimation">
                <input type="checkbox" id="toggle"/>
                <label for="toggle"></label>
            </div>
            <div class="row" style="background-color: #006097;">
                <a href="#" class="mg-link mg-link--effect-5">Home</a> 
                <a href="#" class="mg-link mg-link--effect-5">Location</a>
                <a href="#" class="mg-link mg-link--effect-5">Masterplan</a>
                <a href="#" class="mg-link mg-link--effect-5">News</a> 
                <a href="#" class="mg-link mg-link--effect-5">Projects</a> 
                <a href="#" class="mg-link mg-link--effect-5">Contact</a> 
              </div>
            
        </div>
        <div class="col-9">
            <section>
                <div class="container my-5">
                    <div class="card-deck" id="all_products">
                        <div class="row all_products">

                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
        <div class="col-1">
            <div class="row my-5">
                <div class="col-12 text-right">
                    <button class="btn btn-outline-warning my-2 my-sm-0 px-4 rounded-0" type="button"
                        data-toggle="modal" data-target=".bd-example-modal-xl">
                        <i class="fad fa-shopping-cart"></i> Cart (<span class="item_total">0</span>)
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">
                    <div class="row">
                        <div class="col-3">
                            <img src="/img/12.png" class="w-25" alt="">
                        </div>
                    </div>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h4 class="total-amount ml-4 mt-4 total-amount-hide">Total: $ <span class="cart_total">0</span></h4>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center empty">
                        <h3 class="mb-5">Cart is empty!</h3>
                        <div class="row my-5">
                            <div class="col-8 offset-2">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="/img/123.png" class="w-50" alt="">
                                    </div>
                                    <div class="col-4">
                                        <img src="/img/12.png" class="w-50" alt="">
                                    </div>
                                    <div class="col-4">
                                        <img src="/img/1234.png" class="w-50" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row cart_content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger clear_button rounded-0" data-dismiss="modal">Clear
                    Cart</button>
            </div>
        </div>
    </div>
</div>

<!-- PopUp -->
<div class="popup hide__popup">

    <div class="row text-right mb-5">
        <div class="col bg-dark">
            <div class="popup__close">
                <i class="fad fa-times fa-3x text-white"></i>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-6 mt-5 offset-3">
                <div class="card mt-4">
                    <div class="row p-5">
                        <div class="col">
                            <h1 class="display-2 my-3">Get Discount <span>30%</span> Off</h1>
                            <h4 class="text-center">Sign up to our newsletter and save 30% for you next purchase. No
                                spam, we promise!
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <div class="row ml-0 d-flex">
                                <div class="col-4 pt-3 pl-0 pr-0">
                                    <p class="mb-2">Your email</p>
                                    <div class="input-group mb-3">
                                        <input type="text" name="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="align-self-center mt-4 col-3">
                                    <button class="btn btn-warning rounded-0 mt-1">Subscribe</button>
                                </div>
                                <div class="col-4 mt-4 text-right">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="row">
                                                <div class="col-4">
                                                    <img src="/img/12.png" class="w-75" alt="">
                                                </div>
                                                <div class="col-4">
                                                    <img src="/img/145.png" class="w-75" alt="">
                                                </div>
                                                <div class="col-4">
                                                    <img src="/img/146.png" class="w-75" alt="">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>