/*
======================
Global
======================
*/
body{
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Prata', serif;
}

/* Cool Link-White */
.cool-link {
    display: inline-block;
    text-decoration: none !important ;
  }
  
  .cool-link::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: rgb(255, 255, 255);
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  
  .cool-link:hover::after {
    width: 100%;
  }

/* Cool Link-Black */
.cool-link-black {
  display: inline-block;
  text-decoration: none !important ;
}

.cool-link-black::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: rgb(0, 0, 0);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.cool-link-black:hover::after {
  width: 100%;
}

/* Scroll */
  .scrolling{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    border-radius: 4px;
}


/* Toggle Contact/Phone/Email in home.ejs */

.contact_hover_sidebar{
  position: relative;
}
.toggleContact {
  overflow: hidden;
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #a5d2d3;
  top: 200px;
  right: 0;
  line-height: 48px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.toggleContact:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 205px;
}
.opacity_sidebar {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.toggleContact:hover .opacity_sidebar {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

/* toggle */

*, *:after, *:before {
  box-sizing: border-box;
}

.toggleAnimation input[type=checkbox] {
  visibility: hidden;
}
.toggleAnimation input[type=checkbox]:checked + label {
  transform: rotate(360deg);
  background-color: #000;
}
.toggleAnimation input[type=checkbox]:checked + label:before {
  transform: translateX(90px);
  background-color: #FFF;
}

.toggleAnimation label {
  display: flex;
  width: 180px;
  height: 90px;
  border: 6px solid;
  border-radius: 99em;
  position: relative;
  transition: transform 0.75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;
}
.toggleAnimation label:before {
  transition: transform 0.75s ease;
  transition-delay: 0.5s;
  content: "";
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: #000;
  border-radius: 50%;
  top: 12px;
  left: 12px;
}

/* hover button*/
.mg-link {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none !important;
  letter-spacing: 2px;
  color: white;
  position: relative;
  display: inline-block;
  padding: 12px 20px;
  overflow: hidden;
  opacity: 0.85;
  margin-right: 25px;
}
.mg-link:after {
  content: "";
  position: absolute;
}
.mg-link:before {
  content: "";
  position: absolute;
}

.mg-link--effect-5 {
  transition: 0.4s;
  overflow: visible;
}
.mg-link--effect-5:before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  background: white;
  transition: 0.4s;
  transform: rotate3d(0, 1, 0, 90deg);
  transform-origin: center bottom;
  z-index: -1;
}
.mg-link--effect-5:hover {
  color: #175676;
}
.mg-link--effect-5:hover:before {
  transform: rotate3d(0, 1, 0, 0deg);
}



/*
======================
Card
======================
*/
  .remove_empty_card{
    display: none;
  }

  .hide_decrement{
    display: none;
  }

/* Card style */
  .card_style{
    -webkit-box-shadow: 0px 0px 20px -12px rgba(0,0,0,0.68); 
box-shadow: 0px 0px 20px -12px rgba(0,0,0,0.68);
  }

/* Total show-hide*/
.total-amount-hide{
  display: none;
}

/* Bar */
.card-header-hover:hover{
  color: rgb(116, 37, 37);
background-color: #efefef !important;
transition: all 0.4s ease-out;
}

.big-checkbox-only-for-search .big-checkbox[type="checkbox"] {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
}



@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}


/*
======================
Pop Up
======================
*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: 0.3s;
  transform: scale(1);
}


.popup__close {
  position: absolute;
  top: 0;
  right: 2rem;
  padding: 0.8rem;
  cursor: pointer;
}

.hide__popup {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}

